@keyframes slide-down-fade-in {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue, sans-serif;
    background-image: url(http://www.setwalls.ru/pic/201304/1366x768/setwalls.ru-27439.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    animation: slide-down-fade-in 1.5s 1s forwards;
    text-align: center;
}

p {
    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue, sans-serif;
    font-size: 20px;
    color:white;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  align-items: center;
}

 input {
  border-radius: 3px;
  margin: 20px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 30%;

}

.name {
    border-radius: 3px;
    margin: 20px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 16px;
    width: 15%;
    margin-right: 180px;
}


img {
    width:  80px;
}


.nav {
  display: flex;
}


ul {
  padding: 0;

}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  font-weight: bold;
}



.nav li {
  margin-right: 15px;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

}



.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}


.button:hover {
  background: Linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
  transition: .2s ease-in-out;
  transform: scale(1.3);
}

.button:active {
  transform: translateY(5px);
}
